body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe8ee;
  display: flex;
  color: #000;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
header img{
    max-height:50px;
    height: auto;
}

header img.header_kim{
    max-height:100px;
    height: auto;
}


.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  text-align: left;
  margin: 1rem 0;
}
h2 {
  font-size: 1.3rem;
  text-align: left;
  margin: 1rem 0;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: normal;
  color: #333;
}
.informacoes_cliente {
    background-color: #ffe8ee; /* Um tom de rosa claro (pode ajustar) */
    border-radius: 15px; /* Bordas arredondadas (ajuste o valor para mais ou menos) */
    padding: 8px; /* Espaçamento interno para o conteúdo não colar nas bordas */
    margin-bottom: 3px; /* Espaço abaixo do bloco */
    width: 100%; /* Ocupa 80% da largura da tela/contêiner pai */
    max-width: 900px; /* Limita a largura máxima para não ficar grande demais em telas largas */
    margin-left: auto; /* Centraliza o bloco */
    margin-right: auto; /* Centraliza o bloco */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
    text-align: center; /* Centraliza o texto "Informações do Cliente" */
}
input, textarea, select {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #444;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.1rem;
  }

  input, textarea, select, button {
    font-size: 1rem;
  }
}
