body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe8ee;
  display: flex;
  color: #000;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
header img{
    max-height:50px;
    height: auto;
}

.logo {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  display: block;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #333;
}

input, textarea, select {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #444;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.1rem;
  }

  input, textarea, select, button {
    font-size: 1rem;
  }
}
